name: Manual KBC Push ({{ projects }}) to Environment by branch
on:
  workflow_dispatch:
permissions:
  contents: write
jobs:
  Push_All:
    # Dynamic generated value
    environment: {{ environment_spec }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install
        with:
          githubToken: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}

      # Generated steps {% for step in steps %}
      - name: Push configurations to {{ step.name }}
        uses: ./.github/actions/kbc_push
        with:
          workdir: "{{ step.with.workdir }}"
          kbcStorageApiHost: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcStorageApiHost }}{% raw %} }}{% endraw %}
          kbcStorageApiToken: {% raw %}${{ secrets.{% endraw %}{{ step.with.kbcStorageApiToken }}{% raw %} }}{% endraw %}
          kbcProjectId: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcProjectId }}{% raw %} }}{% endraw %}
          kbcBranchId: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcBranchId }}{% raw %} }}{% endraw %}
      {% endfor %}# End generated steps
