name: Manual KBC Pull ({{ projects }}) from Environment by branch
on:
  workflow_dispatch:
permissions:
  contents: write
jobs:
  Pull_All:
    # Dynamic generated value
    environment: {{ environment_spec }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install
        with:
          githubToken: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}

      # Generated steps {% for step in steps %}
      - name: Pull configurations from {{ step.name }}
        uses: ./.github/actions/kbc_pull
        with:
          workdir: "{{ step.with.workdir }}"
          kbcStorageApiHost: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcStorageApiHost }}{% raw %} }}{% endraw %}
          kbcStorageApiToken: {% raw %}${{ secrets.{% endraw %}{{ step.with.kbcStorageApiToken }}{% raw %} }}{% endraw %}
          kbcProjectId: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcProjectId }}{% raw %} }}{% endraw %}
          kbcBranchId: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcBranchId }}{% raw %} }}{% endraw %}
      {% endfor %}# End generated steps

      - name: Commit and push
        run: |
          apt-get update && apt-get install -y tree
          tree -a
          currentDate=`date +%Y-%m-%d:%T%Z`
          pull_log=`cat "$RUNNER_TEMP/log.txt"`
          git config --global user.name 'Keboola CLI'
          git config --global user.email 'keboola-cli@users.noreply.github.com'
          git add -A
          git commit -a -m "Manual KBC pull $currentDate" -m "$pull_log" || true
          git push --force
