name: Manual KBC Pull ({{ projects }})
on:
  workflow_dispatch:
    inputs:
      dest_env:
        description: 'Destination Environment (OPT)'
        type: choice
        options:
        {% for option in environment_names %}- '{{ option }}'
        {% endfor %}- ''
permissions:
  contents: write
jobs:

  # VAULT validation
  vault_validation_get_structures:
    if: github.event.inputs.dest_env != ''
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - environment: {{ environment_spec }}
            origin: "source"
          - environment: {% raw %}${{ github.event.inputs.dest_env }}{% endraw %}
            origin: "destination"
    environment: {% raw %}${{ matrix.environment }}{% endraw %}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: {% raw %}${{ github.ref }}{% endraw %}

      # Generated steps {% for step in steps %}
      - name: Pull vault {{ step.with.workdir }}
        uses: ./.github/actions/kbc_vault_validation/get_vault_keys
        with:
          destFile: "{% raw %}${{ matrix.origin }}{% endraw %}/{% raw %}${{ matrix.environment }}{% endraw %}/{{ step.with.workdir }}.json"
          kbcSapiHost: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcSapiHost }}{% raw %} }}{% endraw %}
          kbcSapiToken: {% raw %}${{ secrets.{% endraw %}{{ step.with.kbcSapiToken }}{% raw %} }}{% endraw %}
          kbcBranchId: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcBranchId }}{% raw %} }}{% endraw %}
      {% endfor %}# End generated steps

  vault_validation_comparison:
    runs-on: ubuntu-latest
    needs: vault_validation_get_structures
    steps:
      - uses: actions/checkout@v4
        with:
          ref: {% raw %}${{ github.ref }}{% endraw %}
      - name: Compare vault structure
        uses: ./.github/actions/kbc_vault_validation

  # STORAGE validation
  storage_validation_get_structures:
    if: github.event.inputs.dest_env != ''
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - environment: {{ environment_spec }}
            origin: "source"
          - environment: {% raw %}${{ github.event.inputs.dest_env }}{% endraw %}
            origin: "destination"
    environment: {% raw %}${{ matrix.environment }}{% endraw %}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: {% raw %}${{ github.ref }}{% endraw %}

      # Generated steps {% for step in steps %}
      - name: Pull storage {{ step.with.workdir }}
        uses: ./.github/actions/kbc_storage_validation/get_storage_structure
        with:
          destFile: "{% raw %}${{ matrix.origin }}{% endraw %}/{% raw %}${{ matrix.environment }}{% endraw %}/{{ step.with.workdir }}.json"
          kbcSapiHost: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcSapiHost }}{% raw %} }}{% endraw %}
          kbcSapiToken: {% raw %}${{ secrets.{% endraw %}{{ step.with.kbcSapiToken }}{% raw %} }}{% endraw %}
          kbcProjectId: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcProjectId }}{% raw %} }}{% endraw %}
      {% endfor %}# End generated steps

  storage_validation_comparison:
    runs-on: ubuntu-latest
    needs: storage_validation_get_structures
    steps:
      - uses: actions/checkout@v4
        with:
          ref: {% raw %}${{ github.ref }}{% endraw %}
      - name: Compare storage structure
        uses: ./.github/actions/kbc_storage_validation

  # Pull all configurations from projects, collection of validation results and push with commit
  Pull_All:
    if: always()
    needs: [ storage_validation_comparison,vault_validation_comparison ]
    # Dynamic generated value
    environment: {{ environment_spec }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: {% raw %}${{ github.ref }}{% endraw %}

      - uses: ./.github/actions/install
        with:
          githubToken: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}

      - name: Log_pull_header
        run: |
          echo -e "Pull configurations from projects" >> "$RUNNER_TEMP/log.txt"
          echo -e "=================================\n" >> "$RUNNER_TEMP/log.txt"

     # Generated steps {% for step in steps %}
      - name: Pull configurations from {{ step.name }}
        uses: ./.github/actions/kbc_pull
        with:
          workdir: "{{ step.with.workdir }}"
          kbcSapiHost: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcSapiHost }}{% raw %} }}{% endraw %}
          kbcSapiToken: {% raw %}${{ secrets.{% endraw %}{{ step.with.kbcSapiToken }}{% raw %} }}{% endraw %}
          kbcProjectId: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcProjectId }}{% raw %} }}{% endraw %}
          kbcBranchId: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcBranchId }}{% raw %} }}{% endraw %}
      {% endfor %}# End generated steps

      - name: Save log to artifact
        uses: actions/upload-artifact@v4
        with:
          name: pull_log
          path: {% raw %}${{{% endraw %} runner.temp {% raw %}}}{% endraw %}/log.txt
          retention-days: 1

      # Final commit and GIT push
      - name: Commit and push
        run: |
          # Commit and push
          git config --global user.name 'Keboola CLI'
          git config --global user.email 'keboola-cli@users.noreply.github.com'

          git add -A
          git commit --allow-empty -a -F "$RUNNER_TEMP/log.txt" || true
          git push --force


  # CLI push dry-run
  CLI_push_dry_run:
    if: github.event.inputs.dest_env != ''
    needs: [ Pull_All ]
    runs-on: ubuntu-latest
    environment: {% raw %}${{ github.event.inputs.dest_env }}{% endraw %}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: {% raw %}${{ github.ref }}{% endraw %}
      - uses: ./.github/actions/install
        with:
          githubToken: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}

      # Generated steps {% for step in steps %}
      - name: Get CLI diff {{ step.with.workdir }}
        uses: ./.github/actions/kbc_push_dry
        with:
          workdir: {{ step.with.workdir }}
          kbcSapiHost: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcSapiHost }}{% raw %} }}{% endraw %}
          kbcSapiToken: {% raw %}${{ secrets.{% endraw %}{{ step.with.kbcSapiToken }}{% raw %} }}{% endraw %}
          kbcProjectId: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcProjectId }}{% raw %} }}{% endraw %}
          kbcBranchId: {% raw %}${{ vars.{% endraw %}{{ step.with.kbcBranchId }}{% raw %} }}{% endraw %}
      {% endfor %}# End generated steps

      # write diff to log
      - name: Merge Artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: cli_diffs
          pattern: cli_diff_*

      # construct commit message
      - name: Log
        run: |
          currentDate=$(date +%Y-%m-%d:%T%Z)

          echo "Manual KBC pull $currentDate" > "$RUNNER_TEMP/log.txt"
          echo -e "Validation time: $currentDate\n" >> "$RUNNER_TEMP/log.txt"

      # Read Vault artifacts to log
      - name: Read vault_structures_result
        uses: ./.github/actions/read_artifact
        with:
          artifactName: vault_structures_result

      # Read Storage artifacts to log
      - name: Read storage_structures_result
        uses: ./.github/actions/read_artifact
        with:
          artifactName: storage_structures_result

      # Read CLI diff artifacts to log
      - name: Read storage_structures_result
        uses: ./.github/actions/read_artifact
        with:
          artifactName: cli_diffs
          logHeader: "CLI Push dry-runs\n=================\n"

      # Read log
      - name: Read storage_structures_result
        uses: ./.github/actions/read_artifact
        with:
          artifactName: pull_log

      # Final commit and GIT push
      - name: Commit and push
        run: |
          # Commit and push
          git config --global user.name 'Keboola CLI'
          git config --global user.email 'keboola-cli@users.noreply.github.com'

          git commit --allow-empty -a -F "$RUNNER_TEMP/log.txt" || true
          git push --force

      - name: Save log to artifact
        uses: actions/upload-artifact@v4
        with:
          name: log
          path: {% raw %}${{{% endraw %} runner.temp {% raw %}}}{% endraw %}/log.txt
          retention-days: 5